body
{
    background-size:cover;

}
.heading
{
    width:80%;
    height:30%;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
    font-size:25px;
    border-width:2px;
    border-color:rgb(255, 0, 0);
    border-style:ridge;
    border-radius:5px;
    box-shadow:5px 5px 18px #ffc5f0;
}
.note
{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style:italic;
    color:rgb(38, 0, 255);
    font-size:20px;
}
.heading img
{
    width:100px;
    height:100px;
    border-radius:10px;
    border-color:black;
    border-style:rigid;
    border-width:1px;
}
.name
{
    border-color:rgb(146, 255, 146);
    border-width:1px;
    border-style:solid;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-size:20px;
}
.div_speed
{
    float:left;
}
.div_speed_img
{
    width:200px;
    border-radius:10px;
    border-width:2px;
    border-color:black;
    border-style:solid;
}
#speed 
{
    font-size:23px;
    margin:15px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
.div_volume
{
    float:right;
}
.div_speed_img
{
    width:170px;
    height:200px;
    border-radius:10px;
    border-width:2px;
    border-color:black;
    border-style:solid;
}

canvas
{
    border-width:5px;
    border-style:solid;
    border-color:white;
    border-radius:20px;
    margin-top:300px;
}